<app-header [msg]="msg" [sub]="sub"></app-header>


<div class="form-group">
<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input class="form-control" id="name" type="text" formControlName="name">
    </div>
  
    <div>
      <label for="password">Password</label>
      <input class="form-control" id="password" type="text" formControlName="password">
    </div>
      <button class="btn btn-secondary" type="submit">authenticate</button>
  </form>
</div>